.cart {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* padding-left: 20px; */
    width: 580px;
    align-items: center;
    margin: auto;
    background-color:#009688; 
    text-align: center;
    
}

h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    text-decoration: underline;
}


thead>tr {
    color: black;
    /* text-decoration: underline; */
}

tbody {
    color: black;
}

 .btn {
    background-color: black;
    color:white;
}

.form__button button{
    justify-content: center;
    background-color: black;
    color:white;

}

.order__form {
    margin: auto;
    width: 600px;
    background-color:white;
    color: black;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.order__form div {
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.order__form input {
    border-radius: 25px;
    border: 0;
}

.order__form .form__button {
    justify-content: center;
    border: black;
}

/* .order__form button {
    width: 100px;
    margin-top: 10px;
    background-color: black;
    border: 10px;
    color:white;
} */