.shippers {
    padding-top: 20px;
    width: 600px;
    align-items: center;
    margin: auto;
    background-color:#009688 ;
    text-align: center;
    /* rgb(240, 180, 248) */
}

h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    text-decoration: underline;
}

thead>tr {
    color: black;
    /* text-decoration: underline; */
}

tbody {
    color: black;
}
