.customer__body {
    margin: 30px;
    padding: 10px;
}


.customer {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* padding-left: 20px; */
    width: 900px;
    align-items: center;
    margin: auto;
    background-color:#009688; 
    text-align: center;
    
}

h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    text-decoration: underline;
}


thead>tr {
    color: black;
    /* text-decoration: underline; */
}

tbody {
    color: black;
}
.btn {
    background-color: black;
    color:white;
}

.customer__btn {
    border: none;
    background: none;
    color: white;
}

.add__customer {
    color:white;
    background-color: black;
}

/* .container-btn{
    height:200px;
    position:relative;
    color: green;
} */

.form h2 {
    padding-top: 10px;
    text-align: center;
}

.customer__form {
    margin: auto;
    width: 600px;
    background-color:white;
    color: black;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.customer__form div {
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.customer__form input {
    border-radius: 25px;
    border: 0;
}

.customer__form .form__button {
    justify-content: center;
    border: black;
}

.customer__form button {
    width: 100px;
    margin-top: 10px;
    background-color: black;
    border: 10px;
    color:white;
}
