<header class="header">
    <div class="header__left">
    <div>
      <h1><a class="header__home" href="#">TJ-Mart</a></h1>
    </div>
    </div>
    <div class="header__right">
        <div>
            <a routerLink="/viewprod"><img src="../assets/cubes.png" width="38" height="38"/></a>
          </div>
      <div>
        <a routerLink="/cart"><img src="../assets/shopping-cart.png" width="40" height="40"/></a>
      </div>
      <div>
        <a routerLink="/orders"><img src="../assets/shopping-bag.png" width="38" height="38"/></a>
      </div> 
      <div>
        <a routerLink="/registercustomer"><img src="../assets/profile.png" width="38" height="38"/></a>
      </div>
      
    </div>
  </header>
  
  
  <router-outlet></router-outlet>
