.header{
    /* display: flex; */
    flex-direction: row;
    background-color: #009688;
    gap: 20px;
    border-radius: 25px;
    color: black;
    padding: 20px;
    overflow: auto;
}

.header__home{
    text-decoration: none;
    color: black; 
}
.header__left{
    display: flex;
    float: left;
    flex: 2;
    padding: 10px;
    /* justify-content: space-around; */
}

.header__right{
    display: flex;
    float: right;
    flex: 1;
    padding: 10px;
    
}

.header__right>div>a{
    text-decoration: none;
    color:black;
    padding: 5px;
}

.header__left>div{
    float: left;
    padding-right: 5px;
}

.header__right>div{
    float: left;
    gap: 5px;
    padding-right: 5px;
}