<header class="header" *ngIf="visible">
  <div class="header__left">
  <div>
    <h1><a class="header__home" routerLink="">TJ-Mart</a></h1>
  </div>
  </div>
  <div class="header__right">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Login
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login as...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <button type="button" class="btn btn-light" (click)="assignComponent('admin')" data-bs-dismiss="modal" routerLink="product">Admin</button> 
            <button type="button" class="btn btn-dark" (click)="assignComponent('user')" data-bs-dismiss="modal" routerLink="viewprod">User</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container py-2 my-2 mx-auto" *ngIf="visible">
  <img src="../assets/ecommerce-2140603_1920.jpg" 
  alt="" height="470" width="1100">
</div>


<ng-container *ngComponentOutlet="clickedComponent"></ng-container>